In [6]:
"""

    Binning is nothing we are grouping
    datasets into several chunks.
    
    Binning is useful for data pre-processing.
    
"""
import pandas as pd

inFile = 'files/finalData.csv'
df = pd.read_csv(inFile)

binwidth = (df["price"].max() - df["price"].min())//4
bins = range(df["price"].min(), df["price"].max(), binwidth)
group_name = ['low','medium','high']

df['price-binned'] = pd.qcut(df["price"], 3, labels=group_name)

"""
    One hot enchoding or converting string data into
    some numerical values.
    
"""
data = pd.get_dummies(df["fuel-type"])
df['oneHot_Diesel'] = data['diesel']
df['oneHot_Gas'] = data['gas']
df.to_csv('files/cleanedData.csv')
df.head()
# print(pd.get_dummies(df["fuel-type"]))

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,stroke,compression-ratio,horsepower,peak-rpm,city-L/100KM,highway-L/100KM,price,price-binned,oneHot_Diesel,oneHot_Gas
0,3,2,164,audi,gas,std,four,sedan,fwd,front,...,3.4,10.0,102,5500,9.791667,7.833333,13950,high,0,1
1,4,2,164,audi,gas,std,four,sedan,4wd,front,...,3.4,8.0,115,5500,13.055556,10.681818,17450,high,0,1
2,6,1,158,audi,gas,std,four,sedan,fwd,front,...,3.4,8.5,110,5500,12.368421,9.400000,17710,high,0,1
3,8,1,158,audi,gas,turbo,four,sedan,fwd,front,...,3.4,8.3,140,5500,13.823529,11.750000,23875,high,0,1
4,10,2,192,bmw,gas,std,two,sedan,rwd,front,...,2.8,8.8,101,5800,10.217391,8.103448,16430,high,0,1